@import "variables";

.chatContainer {
  height: 100%;
  display: flex;
  grid-gap: 1rem;
  .contactsContainer {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    .userCard {
      max-width: 18rem;
      background: $lightGreen2;
      padding: 1rem;
      border-radius: 0.7rem;
      .profile {
        display: flex;
        grid-gap: 0.75rem;
        overflow: hidden;
        max-width: 100%;
        img {
          height: 4.5rem;
          width: 4.5rem;
          object-fit: cover;
          border-radius: 50%;
          flex-shrink: 0;
        }
        .details {
          font-size: 0.9rem;
          .name {
            text-transform: capitalize;
            font-size: 1.1rem;
            font-weight: 500;
          }
          .phone {
            font-weight: 500;
            opacity: 1;
          }
          a {
            display: block;
          }
          a,
          .add {
            opacity: 0.7;
          }
        }
      }
      .clas {
        .status {
          text-transform: capitalize;
          padding: 0.5rem;
        }
        margin-top: 1rem;
        align-items: center;
        display: none; // ----------------
        justify-content: space-between;
        button {
          border: 1px solid $blue;
          padding: 0.6rem 1.25rem;
          border-radius: 3rem;
          background: white;
          color: $blue;
          cursor: pointer;
          &:hover {
            color: white;
            background: $blue;
          }
        }
      }
      .placeholder {
        text-align: center;
        font-style: italic;
        color: rgba(0, 0, 0, 0.5);
      }
    }
    .label {
      height: min-content;
      font-weight: 500;
      margin: 0.5rem 0;
    }
    width: 18rem;
    .peopleWrapper {
      max-height: 100%;
      height: 100%;
      border-radius: 0.7rem;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
      overflow-y: auto;
      .people {
        height: min-content;
        display: grid;
        padding: 1rem;
        align-items: flex-start;
        width: 100%;
        li {
          padding: 0.75rem;
          border-radius: 0.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          grid-gap: 1rem;
          img {
            height: 3.2rem;
            width: 3.2rem;
            object-fit: cover;
            border-radius: 50%;
            flex-shrink: 0;
          }
          overflow: hidden;
          div {
            display: grid;
            width: 100%;
            position: relative;
            .name {
              text-transform: capitalize;
            }
            .lastMessage {
              font-size: 0.85em;
              color: rgba(0, 0, 0, 0.5);
              display: -webkit-box;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            .unread {
              background: $red;
              color: white;
              font-weight: 500;
              height: 1.7rem;
              width: 1.7rem;
              border-radius: 2rem;
              display: grid;
              place-items: center;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &.active {
            background: #f0f0f0 !important;
          }
          &:hover {
            background: rgba(#f0f0f0, 0.5);
          }
        }
        .placeholder {
          padding: 1.25rem 0;
          text-align: center;
          font-style: italic;
          color: rgba(0, 0, 0, 0.57);
        }
      }
    }
  }
  .chat {
    flex: 1;
    background: $lightGreen2;
    border-radius: 1rem;
    display: grid;
    width: 100%;
    grid-template-rows: min-content 1fr min-content;
    .chatHead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: min-content;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1rem;
      .profile {
        display: flex;
        grid-gap: 1rem;
        align-items: center;
        .back {
          display: none;
        }
        img {
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          object-fit: cover;
        }
        .name {
          text-transform: capitalize;
          .lastSeen {
            display: block;
            font-size: 0.8em;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
    .chats {
      overflow-y: flex;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      overflow: auto;
      grid-gap: 1px;
      .bubble {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        display: grid;
        .dateStamp {
          padding: 0.25rem 0.6rem;
          background: rgba(0, 0, 0, 0.05);
          font-size: 0.85rem;
          margin: 1rem auto;
          border-radius: 4px;
          color: rgba(0, 0, 0, 0.6);
          font-weight: 500;
        }
        .text {
          margin: auto;
          max-width: 80%;
          padding: 0.7rem 1rem;
          color: white;
          word-wrap: break-word;
          overflow: hidden;
        }
        .file {
          padding: 0.4rem;
          margin: auto;
          img,
          video {
            display: grid;
            border-radius: 0.5rem;
            max-width: 15rem;
          }
          .videoThumb {
            display: grid;
            position: relative;
            place-items: center;
            min-height: 6rem;
            img,
            video {
              grid-column: 1/2;
              grid-row: 1/2;
            }
            img {
              height: 5rem;
              pointer-events: none;
              z-index: 10;
            }
          }
          .link {
            display: block;
            color: white;
            padding: 0.7rem;
            img {
              margin-bottom: 0.5rem;
              width: 2.5rem;
              filter: invert(1);
            }
            font-size: 0.9rem;
            a {
              display: inline-block;
              word-wrap: break-word;
              overflow: hidden;
            }
          }
        }
        .timestamp {
          font-size: 0.8rem;
          color: rgba(0, 0, 0, 0.6);
          margin-bottom: 0.5rem;
        }
        &.user {
          display: grid;
          .text {
            margin: auto;
            margin-right: 0;
            border-radius: 1rem 1rem 0 1rem;
            background: #054677;
          }
          .file {
            background: #054677;
            margin-right: 0;
            border-radius: 0.85rem 0.85rem 0 0.85rem;
          }
          .timestamp {
            text-align: right;
          }
        }
        &.client {
          margin-left: 0;
          & ~ &.user {
            border: 1px dashed red;
          }
          .text {
            border-radius: 1rem 1rem 1rem 0;
            background: $blue;
            margin-left: 0;
          }
          .file {
            background: $blue;
            margin-left: 0;
            border-radius: 0.85rem 0.85rem 0.85rem 0;
          }
        }
      }
    }
    form {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 1rem;
      padding-top: 0.5rem;
      grid-gap: 0.5rem;
      .preview {
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 0.5rem;
        padding: 0.5rem;
        flex-basis: 100%;
        max-height: 30vh;
        overflow: auto;
        position: relative;
        background: rgba(0, 0, 0, 0.04);
        .file {
          position: relative;
          border-radius: 0.5rem;
          overflow: hidden;
          .close {
            z-index: 10;
            position: absolute;
            top: 0.3rem;
            right: 0.3rem;
            border: 1px solid white;
            background: rgba(0, 0, 0, 0.44);
            height: 2rem;
            width: 2rem;
            display: grid;
            place-items: center;
            cursor: pointer;
            svg {
              transform: none;
              path {
                fill: white;
              }
            }
          }
          &.thumb {
            max-height: 6rem;
            img {
              max-height: 6rem;
            }
          }
          &.any {
            border: 1px solid rgba(0, 0, 0, 0.15);
            background: white;
            padding: 0.75rem;
            max-width: 7rem;
            overflow: hidden;
            display: grid;
            justify-content: center;
            align-items: center;
            img {
              height: 1.5rem;
            }
            .filename {
              font-size: 0.8rem;
            }
          }
        }
      }
      section {
        position: relative;
        display: grid;
        align-items: center;
        textarea {
          outline: none;
          padding: 0.5rem 1rem;
          padding-right: 2.5rem;
          font-size: 1rem;
          width: 100%;
          resize: none;
          max-height: 10rem;
          border-radius: 1.2rem;
          border: 1px solid rgba(0, 0, 0, 0.54);
        }
        .fileUpload {
          background: rgba(0, 0, 0, 0.02);
          position: absolute;
          right: 2px;
          top: 50%;
          transform: translateY(-50%);
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 50%;
          overflow: hidden;
          display: grid;
          place-items: center;
          input[type="file"] {
            cursor: pointer;
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 100px;
            opacity: 0;
          }
          img {
            pointer-events: none;
            opacity: 0.25;
            grid-column: 1/2;
            grid-row: 1/2;
            width: 1.5rem;
            height: 1.5rem;
          }
          &:hover {
            background: rgba(0, 0, 0, 0.03);
            img {
              opacity: 0.5;
            }
          }
        }
        flex: 1;
      }
      button {
        height: 2.5rem;
        width: 2.5rem;
        border: none;
        background: $blue;
        border-radius: 4rem;
        &:disabled {
          filter: grayscale(1);
        }
        svg {
          transform: translate(-10%, 10%);
        }
      }
      &.loading {
        .preview {
          animation: fade 0.5s alternate infinite;
          .close {
            display: none;
          }
          .file {
            opacity: 0.7;
          }
        }
      }
    }
    .startChat {
      margin: auto;
      grid-row: 1/-1;
      display: grid;
      grid-gap: 0.7rem;
      svg {
        margin: auto;
      }
    }
  }
}
.chatMediaView {
  background: none !important;
  height: 100%;
  width: 100%;
  display: grid;
  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    outline: none;
    svg {
      height: 1.7rem;
      width: 1.7rem;
      path {
        fill: white;
      }
    }
  }
  max-height: calc(var(--vh) * 100) !important;
  img,
  video {
    margin: auto;
    max-width: 95vw;
    max-height: calc(var(--vh) * 95) !important;
  }
}

@keyframes fade {
  0% {
    background: rgba(0, 0, 0, 0.03);
  }
  100% {
    background: rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (max-width: 480px) {
  .chatContainer {
    padding: 0 1rem;
    .contactsContainer {
      grid-template-rows: min-content 1fr;
      width: 100%;
      margin-bottom: 1rem;
    }
    .userCard {
      display: none;
    }
    .chat {
      display: none;
    }
    &.chatOpen {
      padding: 0;
      .contactsContainer {
        display: none;
      }
      .chat {
        display: grid;
        .chatHead {
          .profile {
            .back {
              display: grid;
              place-items: center;
              margin-right: -0.5rem;
              border: none;
              outline: none;
              background: none;
            }
          }
        }
      }
    }
  }
}
