@import "variables";

.generic {
  min-height: calc(var(--vh) * 100);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  header {
    background: white;
    z-index: 100;
    position: sticky;
    top: 0;
    padding: 0.75rem 2rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    // justify-content: space-between;
    .logo,
    .logo_small {
      max-height: 3rem;
    }
    .logo_small {
      display: none;
    }
    & .links {
      a {
        font-size: 1.1rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
    .clas {
      justify-content: flex-end;
      align-items: center;
      z-index: 1;
      margin: auto;
      margin-right: 0;
      display: flex;
      grid-gap: 2rem;
      .actions {
        button {
          img {
            opacity: 0.7;
            border-radius: 0;
            height: 1.5rem;
            width: 1.5rem;
          }
          svg {
            height: 100%;
            width: 100%;
            path {
              fill: rgba(0, 0, 0, 0.5);
            }
          }
        }
        .bell {
          &.unread {
            svg {
              path {
                fill: $blue;
              }
            }
          }
        }
        &.avatar {
          // height: 3rem;
          width: max-content;
          button {
            width: max-content;
            align-items: center;
            display: flex;
            padding: 0;
            img {
              order: 2;
              flex-shrink: 0;
              height: 3rem;
              width: 3rem;
              border-radius: 50%;
              opacity: 1;
              border: 2px solid $blue;
            }
            .userTypeTag {
              border-radius: 2rem;
              margin-right: -1rem;
              order: 1;
              padding: 0.3rem 0.7rem;
              padding-right: 1.5rem;
              background: $blue;
              color: white;
            }
          }
        }
      }
      .cart {
        position: relative;
        .itemCount {
          pointer-events: none;
          position: absolute;
          background: $blue;
          color: white;
          font-weight: 500;
          font-size: 1rem;
          top: -25%;
          right: -25%;
          padding: 0.25rem;
          border-radius: 7px;
        }
      }
      .bell,
      .name {
        font-size: 1rem;
        font-weight: 500;
        text-transform: capitalize;
        .contact {
          display: block;
          font-size: 0.8rem;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6);
        }
      }
      a {
        flex: 1;
        border-radius: 2rem;
        width: max-content;
        text-align: center;
        border: 2px solid white;
        color: white;
        font-weight: 500;
        padding: 0.7rem 2rem;
        background-image: linear-gradient(165deg, $blue 20%, $green 150%);
        &:hover {
          color: $blue;
          background: white;
          box-shadow: inset 0 0 0 2px $blue;
        }
      }
    }
  }
  .content {
    width: 100%;
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem 2rem;
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
    * {
      line-height: 2em;
    }
    a {
      color: $blue;
    }
    & > section {
      display: grid;
      grid-gap: 1rem;
      & > div {
        display: grid;
        grid-gap: 0.7rem;
      }
      ol {
        margin-top: -0.25rem;
        margin-left: 3rem;
      }
      ul {
        margin-top: -0.25rem;
        margin-left: 3rem;
        & > li {
          list-style: initial;
          p {
            margin-bottom: 0.5rem;
          }
        }
      }
      ul,
      ol {
        display: grid;
        grid-gap: 0.5rem;
      }
      h3 {
        margin-bottom: 0.5rem;
      }
      table {
        border: 1px solid rgba(0, 0, 0, 0.28);
        tr {
        }
        tr {
          th {
            padding: 0.5rem;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
          }
          &:not(:last-child) {
            td {
              border-bottom: 1px solid rgba(0, 0, 0, 0.07);
            }
          }
        }
        td {
          padding: 0.5rem 1rem;
        }
      }
    }
    padding-bottom: 5rem;
  }
  footer {
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    padding: 3rem 2rem;
    .links {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1rem;
      a {
        width: max-content;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.howItWorks {
  section {
    img {
      max-width: 95vw;
    }
  }
}

@media only screen and (max-width: 480px) {
  .generic {
    header {
      padding: 0.75rem 1rem;
      .logo {
        display: none;
      }
      .logo_small {
        display: block;
      }
      .links {
        display: none;
        .home {
        }
      }
    }
    .content {
      padding: 1rem;
      grid-gap: 1rem;
    }
  }
}
